body{
    background-color: #080c1c;
}
.container{
    margin-top: 200px;
    position: relative;
}

.history{
    font-size: 50px;
    font-weight: 600;
    color: white;
    left: 50%;
    text-align: center;
}

.main{
    margin: 50px 0px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 50px;
}

.main > *{
    height: 200px;
    padding: 10px;
    margin: 0px 500px;
    flex: 0 1 40%;
    flex-direction: column;
    background-color: #091130;
    box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.68);
}

.main img{
    float: left;
    margin-right: 20px;
}

.main .info{
    color: white;
    float: left;
    height: 100%;
    width: 80%;
}
.title{
    font-size: 20px;
    font-weight: 600;
}

.additional{
    float: right;
}