body{
    background-color: #15171f;
}
/* Navbar */
header{
    background-color: #15171f !important;
}

header.sticky{
    padding: 15px 100px;
    background-color: #15171f !important;
}

header.sticky .dropdown{
    background-color: #15171f !important;
    border-radius: 5px;
}
header ul li:hover > ul{
    background-color: #15171f !important;
}
.container{
    margin-top: 100px;
    position: relative;
}

.history{
    font-size: 50px;
    font-weight: 600;
    color: white;
    left: 50%;
    text-align: center;
}

.main{
    margin: 50px 0px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 50px;
}

.main > *{
    height: 200px;
    padding: 10px;
    margin: 0px 500px;
    flex: 0 1 40%;
    flex-direction: column;
    background-color: #201c24;
    box-shadow: 0px 0px 97px -18px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 97px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 97px -18px rgba(0,0,0,0.75);
    border-radius: 12px;
}

.main img{
    float: left;
    margin-right: 20px;
}

.main .info{
    color: rgb(233, 233, 233);
    position: relative;
    float: left;
    height: 100%;
    width: 80%;
}
.date{
    position: absolute;
    transform: translateY(45px);

}
.title{
    font-size: 20px;
    font-weight: 600;
}

.additional{
    padding-top: 45px;
    float: right;
}