body{
    background-color: #080c1c;
}

.main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    margin-top: 200px;
    gap: 50px;
}

.main > *{
    height: 200px;
    padding: 10px;
    margin: 0px 500px;
    flex: 0 1 40%;
    border: 1px solid blue;
    flex-direction: column;
}

.main img{
    float: left;
    margin-right: 20px;
}

.main .info{
    color: white;
    float: left;
    height: 100%;
    width: 60%;
}
.title{
    font-size: 20px;
    font-weight: 600;
}